*{
    padding: 0px;
    margin: 0px;
}
.nav{
    width: 100%;
    position: absolute;
    height: 100px;
    /* background-color: blue; */
}
.logo{
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    color: white;
}
.links{
    float: right;
    margin-top:40px ;
    margin-right: 30px;
}
.links a{
    padding: 8px;
    color: white;
    border: none;
    text-decoration: none;
}
body{
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.card{
    margin-top: 200px;
    color: white;
}
.card button{
    padding: 10px;
    width: 14%;
    border: none; 
}
.links a:hover{
    background-color: chocolate;
    color: black;
    transition: 1s;
}
h1:hover{
    /* color: black; */
    background-color: chartreuse;
}
p:hover{
    color: chartreuse;
    /* background-color: black; */
}
li:hover{
    color: chartreuse;
}
button:hover{
    background-color: black;
    color: chartreuse;
    transition: 1s;
}